<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="catalogo" href="/tabs/catalogo">
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon>
      <ion-label>Catálogo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-contrataciones" href="/tabs/mis-contrataciones">
      <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
      <ion-label>Contrataciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
